*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


button{
    background-color: transparent;
    color:purple;
    border: none;
    outline: none;
    font-size: 20px;
}

input{
    border: 2px solid purple;
    padding: 10px;
}

input:focus::placeholder{
    opacity: 0.6
}



